* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 80%;
    margin: 80px auto;
}

.cart-part {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.cart-img {
    width: 20%;
}

.cart-img img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cart-desc {
    font-size: 20px;
    width: 20%;
}

.cart-quantity {
    width: 20%;
    text-align: center;
}

.cart-quantity input {
    padding: 5px 10px;
    width: 120px;
    font-size: 15px;
}

.cart-price {
    text-align: center;
    width: 15%;
}

.cart-total {
    text-align: center;
    width: 15%;
}

.cart-remove {
    width: 10%;
}

.cart-remove button {
    cursor: pointer;
    background-color: #e4003a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.cart-summary {
    margin-right: 200px;
    margin-bottom: 50px;
}

.product-total {
    text-align: right;
    margin: 20px 0;
}

.product-checkout {
    text-align: right;
    margin: 20px 0;
}

.product-checkout a {
    display: inline-block;
    width: 130px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0A6847;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.removeAll {
    background-color: #E4003A;
    display: block;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 130px;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: auto;
}
